@charset "UTF-8";
h1 {
	text-align: left;
	margin-top: 20px;
	margin-left: 100px;
}
h2 {
	text-align: left;
	margin-top: 20px;
	margin-left: 100px;
}


fieldset
{
	background-color:peachpuff;
	max-width:600px;
	margin:auto;
	text-align: left;
	padding:16px;	
}

header{
	font-size:20px;
}

input[type="text"] {
    width: 200px;
    height: 15px;
}

.form {
	font-size: 20px;
	color: black;
}


body {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	background-color: lightcyan;
	text-align: center;
}
